@use 'sass:color';

@import url(https://fonts.bunny.net/css?family=inter:400,700,900);

$color-sand: #d6a887;
$color-bone: #f8f0e5;
$color-twilight: #404ea6;
$color-midnight: #2e3d66;
$line-size: 3px;

body {
  background: $color-bone;
  font-family: 'inter', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 2em;

  @media (max-width: 650px) {
    padding: 0 1em;
  }
}

header {
  .container {
    display: grid;
    grid-template-columns: 10em auto;
    grid-column-gap: 1em;
    align-items: center;
  }

  background: $color-twilight;
  color: $color-bone;
  padding: 2rem;
  padding-bottom: 5em;

  #logo {
    width: 10em;
  }

  h1 {
    font-weight: 900;
    padding: 0;
    margin: 0;
    font-size: 3em;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

#app {
  font-weight: normal;
}

#tabs {
  #tab-select {
    margin-top: -3em;

    white-space: nowrap;
    display: flex;

    list-style: none;

    width: 100%;
    margin-bottom: 2rem;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: -1em;

    overflow-x: scroll;
    overflow-y: visible;

    li {
      height: 3em;
      display: flex;
      align-items: center;

      padding: 0 1em;
      margin-right: 1em;
      background: $color-sand;

      a {
        display: block;

        color: rgb(50, 50, 75);
        text-decoration: none;
        font-weight: bold;
      }

      &.active {
        background: $color-bone;
        a {
          color: $color-midnight;
        }
      }
    }
  }
}

p {
  margin-bottom: 1em;
}

.tab ul {
  margin-bottom: 1em;
}

input[type='text'],
input[type='password'],
input[type='number'],
button,
textarea,
label.btn {
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em;
  border-width: 0;
  box-sizing: border-box;

  margin-bottom: 0.5em;
  font-family: 'inter', sans-serif;
}

textarea {
  min-height: 6em;
}

textarea:focus,
input:focus,
button:focus {
  outline: solid $color-sand;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
  color: color.scale($color-sand, $lightness: -40%);
}

.input-grid {
  display: grid;
  grid-template-columns: 10em auto;

  label {
    padding-right: 1em;
    padding-top: 0.25em;
    text-align: right;
    font-weight: bold;
  }

  .full {
    grid-column: 1 / span 2;
  }

  .spacer {
    padding-top: 0.25em;
    padding-bottom: 0.5em;
  }

  input {
    margin-bottom: 0.5em;
  }

  @media (max-width: 650px) {
    display: block;

    label,
    input,
    textarea {
      width: 100%;
      display: block;
      text-align: left;
    }
  }
}

button,
label.btn {
  background: rgb(225, 225, 225);
  margin-right: 0.5em;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
  font-weight: normal !important;
  font-size: 1em;
  line-height: 1.6;
  color: var(--color-text);

  &:hover {
    background: rgb(200, 200, 200);
  }

  &:active {
    background: rgb(175, 175, 175);
  }

  &:disabled {
    background: rgb(150, 150, 150);
  }
}
